<div class="testimonials-card">
  <picture class="testimonials-card__picture">
    <source
      type="image/webp"
      srcset="./img/testimonials-1.webp, ./img/testimonials-1-2x.webp 2x"
    />
    <source
      type="image/png"
      srcset="./img/testimonials-1.png, ./img/testimonials-1_2x 2x"
    />
    <img
      src="./img/testimonials-1.png"
      alt="Maria Tkachuk"
      width="64"
      height="64"
      class="testimonials-card__image"
    />
  </picture>
  <h3 class="testimonials-card__title">Maria Tkachuk</h3>
  <p class="testimonials-card__caption">
    I was pleasantly surprised by the variety of embroidery offered by
    Vyshyvanka Vibes. They have models for every taste - from classic to modern.
    I bought an embroidered dress to celebrate a special occasion and received
    impeccable service and refinement in every detail.
  </p>
</div>
