<div class="testimonials-card">
  <picture class="testimonials-card__picture">
    <source
      type="image/webp"
      srcset="./img/testimonial-2.webp, ./img/testimonial-2-2x.webp 2x"
    />
    <source
      type="image/png"
      srcset="./img/testimonial-2.png, ./img/testimonial-2@2x.png 2x"
    />
    <img
      src="./img/testimonial-2.png"
      alt="Sergey Rybachok"
      width="64"
      height="64"
      class="testimonials-card__image"
    />
  </picture>
  <h3 class="testimonials-card__title">Sergey Rybachok</h3>
  <p class="testimonials-card__caption">
    Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply
    masterpieces! I fell in love with the quality of the materials and the skill
    of the artisans behind each product. This is my favorite embroidery shop
    where I always find something special and unique.
  </p>
</div>
