<div class="testimonials-card">
  <picture class="testimonials-card__picture">
    <source
      type="image/webp"
      srcset="./img/testimonial-3.webp, ./img/testimonial-3-2x.webp 2x"
    />
    <source
      type="image/png"
      srcset="./img/testimonial-3.png, ./img/testimonial-3@2x.png 2x"
    />
    <img
      src="./img/testimonial-3"
      alt="Natalia Chatuk"
      width="64"
      height="64"
      class="testimonials-card__image"
    />
  </picture>
  <h3 class="testimonials-card__title">Natalia Chatuk</h3>
  <p class="testimonials-card__caption">
    Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
    culture. Their embroidery reflects the spirit and traditions of our people.
    I not only buy embroidered shirts for myself, but also give them to my
    friends abroad as a symbol of our beauty and national pride.
  </p>
</div>
