<ul class="socials">
  <li class="socials__item">
    <a class="socials__link" href="https://www.facebook.com/goITclub/" target="_blank" aria-label="find us in facebook">
      <svg class="socials__icon" width="28" height="28">
        <use href="./img/sprite.svg#facebook" />
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="https://www.instagram.com/goitclub/" target="_blank"
      aria-label="find us in instagram">
      <svg class="socials__icon" width="28" height="28">
        <use href="./img/sprite.svg#instagram" />
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="https://www.youtube.com/c/GoIT" target="_blank" aria-label="find us in youtube">
      <svg class="socials__icon" width="28" height="28">
        <use href="./img/sprite.svg#youtube" />
      </svg>
    </a>
  </li>
</ul>