<section class="section section--decor-bottom-right">
  <div class="container">
    <div class="text-and-media text-and-media--media-right">
      <div class="text-and-media__content">
        <h2 class="section__title">About Us</h2>
        <p class="section__text">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka
          comes to
          life with new zest and style.
          Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance
          of
          traditional
          needlework and modern design.</p>
        <p class="section__text">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to
          modern, corresponding to the latest
          fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified
          craftsmen
          who convey
          the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a
          symbol
          of
          national pride, the heritage of our ancestors and a way of expressing one's individuality. Each
          embroidery
          from
          "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>

      </div>
      <div class="text-and-media__picture">
        <picture>
          <source type="image/webp" media="(min-width: 1440px)"
            srcset="./img/girl-and-boy-xl.webp, ./img/girl-and-boy-xl2x.webp">
          <source type="image/webp" media="(min-width: 1280px)"
            srcset="./img/girl-and-boy-medium.webp, ./img/girl-and-boy-medium2x.webp">
          <source type="image/webp" media="(min-width: 768px)"
            srcset="./img/girl-and-boy-tablet.webp, ./img/girl-and-boy-tablet2x.webp">
          <source type="image/webp" media="(min-width: 375px)"
            srcset="./img/girl-and-boy-mobile.webp, ./img/girl-and-boy-mobile2x.webp">
          <source type="image/jpg" media="(min-width: 1440px)"
            srcset="./img/girl-and-boy-xl.jpg, ./img/girl-and-boy-xl@2x.jpg">
          <source type="image/jpg" media="(min-width: 1280px)"
            srcset="./img/girl-and-boy-medium.jpg, ./img/girl-and-boy-medium2x.jpg">
          <source type="image/jpg" media="(min-width: 768px)"
            srcset="./img/girl-and-boy-tablet.jpg, ./img/girl-and-boy-tablet2x.jpg">
          <source type="image/jpg" media="(min-width: 375px)"
            srcset="./img/girl-and-boy-mobile.jpg, ./img/girl-and-boy-mobile2x.jpg">
          <img src="./img/girl-and-boy-mobile.jpg" srcset="./img/girl-and-boy-mobile2x.jpg 2x" alt="about us image">
        </picture>
      </div>
    </div>
  </div>
</section>