<button class="burger-menu-close-btn" type="button">
  <svg
    class="burger-menu-close-btn-icon"
    width="36"
    height="36"
    aria-label="burger menu close button"
  >
    <use href="./images/icons.svg#icon-close"></use>
  </svg>
</button>

<div class="">
  <a class="button button--phone" href="tel:+380684439426"
    >+380 (68) 443-94-26</a
  >
  <load src="partials/navigation.html" />
</div>
<svg
  class="burger-menu-element-decoration"
  width="340"
  height="302"
  aria-label="element decoration"
>
  <use href="./images/icons.svg#icon-element-decoration"></use>
</svg>
