<section
  class="section section--title-center section--decor-top-left"
  id="collection"
>
  <div class="container">
    <h2 class="section__title">Our collection</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <load src="partials/products/product-1.html" />
      </li>
      <li class="products-list__item">
        <load src="partials/products/product-2.html" />
      </li>
      <li class="products-list__item">
        <load src="partials/products/product-3.html" />
      </li>
      <li class="products-list__item">
        <load src="partials/products/product-4.html" />
      </li>
      <li class="products-list__item">
        <load src="partials/products/product-5.html" />
      </li>
      <li class="products-list__item">
        <load src="partials/products/product-6.html" />
      </li>
    </ul>
  </div>
</section>
