<section class="section section--title-center">
  <div class="container">
    <h2 class="section__title">Our collection</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <div class="product">
          <picture class="product__picture">
            <source type="image/webp" srcset="./img/product-1.webp, ./img/product-1-2x.webp 2x">
            <source type="image/jpg" srcset="./img/product-1.jpg, ./img/product-1-2x.jpg 2x">
            <img src="./img/product-1.jpg" alt="product image vyshyvanka" class="product__image">
          </picture>
          <div class="product__content">
            <h3 class="product__title">AUGUST Poltava women's blouseRING</h3>
            <p class="product__price">3300 UAH</p>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <div class="product">
          <picture class="product__picture">
            <source type="image/webp" srcset="./img/product-2.webp, ./img/product-2-2x.webp 2x">
            <source type="image/jpg" srcset="./img/product-2.jpg, ./img/product-2-2x.jpg 2x">
            <img src="./img/product-2.jpg" alt="product image vyshyvanka" class="product__image">
          </picture>
          <div class="product__content">
            <h3 class="product__title">Women's blouse Gorgany</h3>
            <p class="product__price">3350 UAH</p>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <div class="product">
          <picture class="product__picture">
            <source type="image/webp" srcset="./img/product-3.webp, ./img/product-3-2x.webp 2x">
            <source type="image/jpg" srcset="./img/product-3.jpg, ./img/product-3-2x.jpg 2x">
            <img src="./img/product-3.jpg" alt="product image vyshyvanka" class="product__image">
          </picture>
          <div class="product__content">
            <h3 class="product__title">Women's blouse Crimea</h3>
            <p class="product__price">4000 UAH</p>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <div class="product">
          <picture class="product__picture">
            <source type="image/webp" srcset="./img/product-4.webp, ./img/product-4-2x.webp 2x">
            <source type="image/jpg" srcset="./img/product-4.jpg, ./img/product-4-2x.jpg 2x">
            <img src="./img/product-4.jpg" alt="product image vyshyvanka" class="product__image">
          </picture>
          <div class="product__content">
            <h3 class="product__title">Men's shirt Verkhovina</h3>
            <p class="product__price">3100 UAH</p>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <div class="product">
          <picture class="product__picture">
            <source type="image/webp" srcset="./img/product-5.webp, ./img/product-5-2x.webp 2x">
            <source type="image/jpg" srcset="./img/product-5.jpg, ./img/product-5-2x.jpg 2x">
            <img src="./img/product-5.jpg" alt="product image vyshyvanka" class="product__image">
          </picture>
          <div class="product__content">
            <h3 class="product__title">Mountain men's shirt</h3>
            <p class="product__price">3300 UAH</p>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <div class="product">
          <picture class="product__picture">
            <source type="image/webp" srcset="./img/product-6.webp, ./img/product-6-2x.webp 2x">
            <source type="image/jpg" srcset="./img/product-6.jpg, ./img/product-6-2x.jpg 2x">
            <img src="./img/product-6.jpg" alt="product image vyshyvanka" class="product__image">
          </picture>
          <div class="product__content">
            <h3 class="product__title">Men's shirt Yasen</h3>
            <p class="product__price">1700 UAH</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>