<header class="header">
  <div class="logotype__header">
    <a class="header__link" href="" target="_blank">
      <svg class="header__logo" width="44" height="39">
        <use href="./img/logo-header-svg.svg"></use>
      </svg>
    </a>
  </div>
  <nav class="navigation__list">
    <ul class="navigation__item">
      <li class="navigation__link">About us</li>
      <li class="navigation__link">Our collection</li>
      <li class="navigation__link">Customer Order</li>
      <li class="navigation__link">Testimonials</li>
    </ul>
  </nav>
  <a class="button button--phone" href="tel:+380684439426">+380 (68) 443-94-26</a>
  
  <load src="partials/socials/socials.html" />

  <div class="navigation__span">
    <span class="navigation__line" width="37" height="3"></span>
    <span class="navigation__line-short" width="27" height="3"></span>
    <span class="navigation__line" width="37" height="3"></span>
  </div> 

</header>