<header class="header">

  <ul class="socials">
    <li class="socials__item">
      <a href="#" class="socials__link">
        <svg class="socials__icon" width="28" height="28">
          <use />
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__link">
        <svg class="socials__icon" width="28" height="28">
          <use />
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__link">
        <svg class="socials__icon" width="28" height="28">
          <use />
        </svg>
      </a>
    </li>
  </ul>
</header>