<header class="header">
  <a class="button button--phone" href="tel:+380684439426">+380 (68) 443-94-26</a>
  <button class="button">
    <span class="button__text">
      order
    </span>
    <span class="button__icon">
      <svg width="27" height="22">
        <use href="./img/sprite.svg#arrow" />
      </svg>
    </span>
  </button>
  <ul class="socials">
    <li class="socials__item">
      <a href="#" class="socials__link">
        <svg class="socials__icon" width="28" height="28">
          <use href="./img/sprite.svg#facebook" />
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__link">
        <svg class="socials__icon" width="28" height="28">
          <use href="./img/sprite.svg#instagram" />
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__link">
        <svg class="socials__icon" width="28" height="28">
          <use href="./img/sprite.svg#youtube" />
        </svg>
      </a>
    </li>
  </ul>
</header>