<section class="section hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">
          Reviving the traditional
          <span class="hero__title-span">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <div class="hero__action">
          <button class="button">
            <span class="button__text"> order </span>
            <span class="button__icon">
              <svg width="27" height="22">
                <use href="./img/sprite.svg#arrow" />
              </svg>
            </span>
          </button>
        </div>
      </div>
      <div class="hero__picture">
        <picture>
          <source type="image/webp" media="(min-width: 1440px)"
            srcset="./img/girl-desktop.webp, ./img/girl-desktop2x.webp 2x" />
          <source type="image/webp" media="(min-width: 1280px)"
            srcset="./img/girl-medium.webp, ./img/girl-medium2x.webp 2x" />
          <source type="image/webp" media="(min-width: 768px)"
            srcset="./img/girl-tablet.webp, ./img/girl-tablet2x.webp 2x" />
          <source type="image/webp" media="(min-width: 375px)"
            srcset="./img/girl-mobile.webp, ./img/girl-mobile2x.webp 2x" />
          <source type="image/jpg" media="(min-width: 1440px)"
            srcset="./img/girl-desktop.jpg, ./img/girl-desktop2x.jpg 2x" />
          <source type="image/jpg" media="(min-width: 1280px)"
            srcset="./img/girl-medium.jpg, ./img/girl-medium2x.jpg 2x" />
          <source type="image/jpg" media="(min-width: 768px)"
            srcset="./img/girl-tablet.jpg, ./img/girl-tablet2x.jpg 2x" />
          <source type="image/jpg" media="(min-width: 375px)"
            srcset="./img/girl-mobile.jpg, ./img/girl-mobile2x.jpg 2x" />
          <img src="./img/girl-mobile.jpg" alt="girl image" width="392" height="545" />
        </picture>
      </div>

      <div class="star">
        <div class="star__top">
          <svg class="star__icon" width="52" height="51">
            <use href="./img/sprite.svg#star"></use>
          </svg>
          <p class="star__text">all embroidery is made by hand</p>
        </div>
        <picture class="star__picture">
          <source type="image/webp" srcset="./img/group-desktop.webp, ./img/group-desktop2x.webp 2x" />
          <source type="image/jpg" srcset="./img/group-desktop.png, ./img/group-desktop2x.png 2x" />
          <img src="./img/group-tablet.png" alt="group" width="139" height="98" />
        </picture>
      </div>
    </div>
  </div>
</section>