<section class="section hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">
          Reviving the traditional
          <span class="hero__title-span">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <div class="hero__action">
          <button class="button">
            <span class="button__text"> order </span>
            <span class="button__icon">
              <svg width="27" height="22">
                <use href="./img/sprite.svg#arrow" />
              </svg>
            </span>
          </button>
        </div>
      </div>

      <div class="hero__picture">
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="./img/girl-desktop.webp, ./img/girl-desktop@2x.webp"
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="./img/girl-medium.webp, ./img/girl-medium@2x.webp"
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="./img/girl-tablet.webp, ./img/girl-tablet@2x.webp"
          />
          <source
            type="image/webp"
            media="(min-width: 375px)"
            srcset="./img/girl-mobile.webp, ./img/girl-mobile@2x.webp"
          />
          <source
            type="image/jpg"
            media="(min-width: 1440px)"
            srcset="./img/girl-desktop.jpg, ./img/girl-desktop@2x.jpg"
          />
          <source
            type="image/jpg"
            media="(min-width: 1280px)"
            srcset="./img/girl-medium.jpg, ./img/girl-medium@2x.jpg"
          />
          <source
            type="image/jpg"
            media="(min-width: 768px)"
            srcset="./img/girl-tablet.jpg, ./img/girl-tablet@2x.jpg"
          />
          <source
            type="image/jpg"
            media="(min-width: 375px)"
            srcset="./img/girl-mobile.jpg, ./img/girl-mobile@2x.jpg"
          />
          <img
            src="./img/girl-mobile.jpg"
            srcset="./img/girl-mobile@2x.jpg 2x"
            alt="girl image"
          />
        </picture>
      </div>

      <div class="star">
        <div class="star__top">
          <svg class="star__icon" width="52" height="51">
            <use href="./img/sprite.svg#star"></use>
          </svg>
          <p class="star__text">all embroidery is made by hand</p>
        </div>
        <div class="star__picture">
          <!-- <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="./img/girl-and-boy-xl.webp, ./img/girl-and-boy-xl2x.webp"
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              ./img/girl-and-boy-medium.webp,
              ./img/girl-and-boy-medium2x.webp
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="./img/group-tablet.webp, ./img/group-tablet2x.webp"
          />
          <source
            type="image/webp"
            media="(min-width: 375px)"
            srcset="./img/girl-mobile.webp, ./img/girl-mobile2x.webp"
          />
          <source
            type="image/jpg"
            media="(min-width: 1440px)"
            srcset="./img/girl-and-boy-xl.jpg, ./img/girl-and-boy-xl@2x.jpg"
          />
          <source
            type="image/jpg"
            media="(min-width: 1280px)"
            srcset="
              ./img/girl-and-boy-medium.jpg,
              ./img/girl-and-boy-medium2x.jpg
            "
          /> -->
          <picture>
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="./img/group-tablet.webp, ./img/group-tablet2x.webp"
            />
            <source
              type="image/png"
              media="(min-width: 768px)"
              srcset="./img/group-tablet.png, ./img/group-tablet2x.png"
            />
            <img class="" src="./img/group-tablet.png" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
