<section class="section">
  <picture class="photo">
    <source media="(min-width: 1440px)" srcset="./img/baba-desktop.webp, ./img/baba-desktop-2x.webp 2x"
      type="image/webp">
    <source media="(min-width: 1280px)" srcset="./img/baba-medium.webp, ./img/baba-medium-2x.webp 2x" type="image/webp">
    <source media="(min-width: 768px)" srcset="./img/baba-tablet.webp, ./img/baba-tablet-2x.webp 2x" type="image/webp">
    <source media="(min-width: 375px)" srcset="./img/baba-mobile.webp, ./img/baba-mobile-2x.webp 2x" type="image/webp">
    <source media="(min-width: 1440px)" srcset="./img/baba-desktop.jpg, ./img/baba-desktop-2x.jpg 2x" type="image/jpg">
    <source media="(min-width: 1280px)" srcset="./img/baba-medium.jpg, ./img/baba-medium-2x.jpg 2x" type="image/jpg">
    <source media="(min-width: 768px)" srcset="./img/baba-tablet.jpg, ./img/baba-tablet-2x.jpg 2x" type="image/jpg">
    <source media="(min-width: 375px)" srcset="./img/baba-mobile.jpg, ./img/baba-mobile-2x.jpg 2x" type="image/jpg">
    <img class="photo__image" src="./img/baba-mobile.jpg" alt="photo vyshyvanka" width="1440" height="776">
  </picture>
</section>