<section class="section">
    <div class="container">
        <h2 class="section__title">Testimonials</h2>
        <ul class="scroll-list">
            <li class="scroll-list__item">
                <load src="partials/testimonials-cards/testimonials-card-1.html" />
            </li>
            <li class="scroll-list__item">
                <load src="partials/testimonials-cards/testimonials-card-1.html" />
            </li>
            <li class="scroll-list__item">
                <load src="partials/testimonials-cards/testimonials-card-1.html" />
            </li>
        </ul>
    </div>
</section>
