<section id="order" class="section section--decor-bottom-left">
  <div class="container">
    <div class="text-and-media text-and-media--media-left">
      <div class="text-and-media__content">
        <h2 class="text-and-media__title">
          <span class="text-and-media__title-span">Your order </span>is our
          priority: Personalized approach and quality of service
        </h2>
        <load src="partials/form/form.html" />
      </div>
      <div class="text-and-media__picture">
        <picture>
          <source type="image/webp" media="(min-width: 1440px)" srcset="
              ./img/your-order-desktop.webp,
              ./img/your-order-desktop@2x.webp
            " />
          <source type="image/webp" media="(min-width: 1280px)" srcset="
              ./img/your-order-desktop.webp,
              ./img/your-order-desktop@2x.webp
            " />
          <source type="image/webp" media="(min-width: 768px)" srcset="
              ./img/your-order-tablet.webp,
              ./img/your-order-tablet@2x.webp
            " />
          <source type="image/jpg" media="(min-width: 1440px)" srcset="
              ./img/your-order-desktop.jpg,
              ./img/your-order-desktop@2x.jpg
            " />
          <source type="image/jpg" media="(min-width: 1280px)" srcset="
              ./img/your-order-desktop.jpg,
              ./img/your-order-desktop@2x.jpg
            " />
          <source type="image/jpg" media="(min-width: 768px)"
            srcset="./img/your-order-tablet.jpg, ./img/your-order-tablet@2x.jpg" />
          <img src="./img/your-order-tablet.jpg" alt="your order image" width="524" height="521" loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>