<form class="form">
  <div class="form__fields">
    <label aria-label="form name">
      <input class="form__input" placeholder="Name" type="name" name="user-name" required
        pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐйЙ']+" title="Iryna" />
    </label>
    <label aria-label="form email">
      <input class="form__input" type="email" name="user-mail" placeholder="E-mail" />
    </label>
    <label aria-label="form comments">
      <textarea class="form__comments" placeholder="Comments"></textarea>
    </label>
  </div>
  <div class="form__actions">
    <button class="button" type="submit">
      <span class="button__text">
        Send
      </span>
      <span class="button__icon" aria-hidden="true">
        <svg width="27" height="22">
          <use href="./img/sprite.svg#arrow" />
        </svg>
      </span>
    </button>
  </div>
</form>