:root {
  --base-black: #1C2225;
  --base-yellow: #ECD979;
  --base-white: #FCF9F9;
  --primary-text-color: var(--base-white);
  --secondary-text-color: var(--base-yellow);
  --primary-font-family: "Manrope", sans-serif;
  --body-background-color: var(--base-black);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--body-background-color);
  letter-spacing: 0.02em;
  overflow-x: hidden;
}
body.is-blocked {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  --container-padding: 1.25rem;
  --container-width: 23.4375rem;
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
}
@media screen and (min-width: 768px) {
  .container {
    --container-padding: 2rem;
    --container-width: 48rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    --container-padding: 6.25rem;
    --container-width: 80rem;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    --container-width: 90rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-block: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(180deg, var(--base-black) 79%, transparent 90%);
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.header__logo-wrapper {
  padding-right: 2.5rem;
}
.header__mobile-wrapper {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__mobile-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__socials {
  margin-inline: auto 0;
}
.header__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .header__actions {
    display: none;
  }
}

.socials {
  display: flex;
  gap: 0.75rem;
}
.socials__link {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  transition-property: border, background-color;
}
.socials__link:focus, .socials__link:hover {
  background-color: transparent;
  border: 1px solid var(--base-yellow);
}
.socials__icon {
  fill: var(--base-white);
}

.button {
  --border-width: 1px;
  --border-color: rgba(252, 249, 249, 0.10);
  display: inline-flex;
  align-items: center;
  padding-block: calc(0.875rem - var(--border-width));
  padding-inline: calc(2.25rem - var(--border-width));
  gap: 0.625rem;
  color: var(--base-white, #FCF9F9);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 15px;
  border: var(--border-width) solid var(--border-color);
  background: transparent;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover {
  --border-color: var(--base-yellow, #ECD979);
}
.button__icon {
  line-height: 0;
}
.button__icon svg {
  fill: var(--base-yellow);
}
@media screen and (min-width: 768px) {
  .button {
    padding-inline: 2.4375rem;
    font-size: 1rem;
  }
}
.button--phone {
  padding-inline: calc(1.75rem - var(--border-width));
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: unset;
}
@media screen and (min-width: 768px) {
  .button--phone {
    font-size: 0.875rem;
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 6px;
  width: 44px;
  height: 44px;
  background: transparent;
  border: none;
}
.burger__span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--base-yellow);
}
.burger__span:nth-child(2) {
  max-width: 28px;
}

.section {
  position: relative;
  padding-block: 2.5rem;
}
@media screen and (min-width: 768px) {
  .section {
    padding-block: 3.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-block: 4.6875rem;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    max-width: 90rem;
    margin-inline: auto;
  }
}
.section:last-child {
  padding-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .section:last-child {
    padding-bottom: 6.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section:last-child {
    padding-bottom: 9.375rem;
  }
}
.section--title-center .section__title, .section--title-center .text-and-media__title {
  text-align: center;
}
.section--decor-bottom-right {
  background-image: image-set(url(../img/about-us-decor.webp) type("image/webp") 1x, url(../img/about-us-decor-2x.webp) type("image/webp") 2x, url(../img/about-us-decor.png) type("image/png") 1x, url(../img/about-us-decor-2x.png) type("image/png") 2x);
  background-position: calc(100% + 209px) 100%;
  background-repeat: no-repeat;
  background-size: 459px 408px;
}
@media screen and (min-width: 768px) {
  .section--decor-bottom-right {
    background-position: calc(100% + 176px) 100%;
    background-size: 545px 484px;
  }
}
@media screen and (min-width: 1280px) {
  .section--decor-bottom-right {
    background-position: calc(100% + 160px) 100%;
  }
}
@media screen and (min-width: 1440px) {
  .section--decor-bottom-right {
    background-position: 100% 100%;
  }
}
.section--decor-top-left {
  background-image: image-set(url(../img/collection-decor.webp) type("image/webp") 1x, url(../img/collection-decor-2x.webp) type("image/webp") 2x, url(../img/collection-decor.png) type("image/png") 1x, url(../img/collection-decor-2x.png) type("image/png") 2x);
  background-position: 0 316px;
  background-repeat: no-repeat;
  background-size: 72px 177px;
}
@media screen and (min-width: 768px) {
  .section--decor-top-left {
    background-position: 0 271px;
    background-size: 114px 300px;
  }
}
@media screen and (min-width: 1280px) {
  .section--decor-top-left {
    background-position: 0 291px;
    background-size: 169px 300px;
  }
}
@media screen and (min-width: 1440px) {
  .section--decor-top-left {
    background-position: 0 301px;
  }
}
@media screen and (min-width: 768px) {
  .section--decor-bottom-left {
    background-image: image-set(url(../img/your-order-decor.webp) type("image/webp") 1x, url(../img/your-order-decor-2x.webp) type("image/webp") 2x, url(../img/your-order-decor.png) type("image/png") 1x, url(../img/your-order-decor-2x.png) type("image/png") 2x);
    background-position: -222px 100%;
    background-repeat: no-repeat;
    background-size: 545px 484px;
  }
}
@media screen and (min-width: 1280px) {
  .section--decor-bottom-left {
    background-position: -256px 100%;
  }
}
@media screen and (min-width: 1440px) {
  .section--decor-bottom-left {
    background-position: -220px 100%;
  }
}
.section__title, .text-and-media__title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 768px) {
  .section__title, .text-and-media__title {
    font-size: 2.75rem;
    line-height: 1.45;
  }
}
@media screen and (min-width: 768px) {
  .section__title, .text-and-media__title {
    font-size: 2.75rem;
    line-height: 1.45;
  }
}
.section__title-span, .text-and-media__title-span {
  color: var(--secondary-text-color);
}
.section__text:not(:first-of-type), .text-and-media__text:not(:first-of-type) {
  margin-top: 1.25rem;
}
.section__text:not(:last-of-type), .text-and-media__text:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.text-and-media {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media screen and (min-width: 1280px) {
  .text-and-media {
    flex-direction: row;
    align-items: center;
    column-gap: 3.125rem;
  }
}
.text-and-media__content {
  flex-shrink: 1;
}
.text-and-media__picture {
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
}
.text-and-media__picture picture {
  width: 100%;
  height: 100%;
}
.text-and-media__picture picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1280px) {
  .text-and-media--media-right .text-and-media__picture {
    flex-shrink: 0;
    max-width: 37.125rem;
  }
}
@media screen and (min-width: 1440px) {
  .text-and-media--media-right .text-and-media__picture {
    max-width: 44.3125rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-and-media--media-left {
    flex-direction: row-reverse;
  }
}
.text-and-media--media-left .text-and-media__picture {
  display: none;
}
@media screen and (min-width: 768px) {
  .text-and-media--media-left .text-and-media__picture {
    display: block;
    flex-shrink: 0;
    max-width: 39.875rem;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .text-and-media--media-left .text-and-media__picture {
    max-width: 32.75rem;
    align-self: flex-start;
  }
}
@media screen and (min-width: 1440px) {
  .text-and-media--media-left .text-and-media__picture {
    max-width: 32.75rem;
  }
}

.products-list {
  display: grid;
  gap: 2.5rem 1.25rem;
}
@media screen and (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.product__picture {
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 335/400;
}
@media screen and (min-width: 768px) {
  .product__picture {
    aspect-ratio: 342/430;
  }
}
@media screen and (min-width: 1280px) {
  .product__picture {
    aspect-ratio: 347/430;
  }
}
@media screen and (min-width: 1440px) {
  .product__picture {
    aspect-ratio: 400/430;
  }
}
.product__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 1.125rem;
  }
}
.product__price {
  color: rgba(252, 249, 249, 0.4);
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .product__price {
    font-size: 1.125rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 31.75rem;
  gap: 2.5rem;
}
.form__fields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.form__input {
  width: 100%;
  padding: 0.875rem 1rem;
  border-radius: 0.9375rem;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: var(--base-white);
}
.form__input::placeholder {
  color: rgba(252, 249, 249, 0.5);
}
.form__comments {
  width: 100%;
  min-height: 12.25rem;
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: var(--base-white);
  resize: none;
}
.form__actions {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .form__actions {
    justify-content: flex-start;
  }
}

.navigation {
  --gap-navigation: 1.5625rem;
}
.navigation--grid .navigation__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  .navigation--grid .navigation__list {
    display: flex;
  }
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-navigation);
  align-items: flex-end;
}
@media screen and (min-width: 1280px) {
  .navigation__list {
    flex-direction: row;
    align-items: center;
  }
}
.navigation__link {
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--base-white, #FCF9F9);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:focus, .navigation__link:hover {
  color: var(--base-yellow);
}

.footer .navigation__item {
  width: calc((100% - var(--gap-navigation)) / 2);
}/*# sourceMappingURL=styles.css.map */