<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#about" class="navigation__link">About us</a>
    </li>
    <li class="navigation__item">
      <a href="#collection" class="navigation__link">Our collection</a>
    </li>
    <li class="navigation__item">
      <a href="#order" class="navigation__link">Customer Order</a>
    </li>
    <li class="navigation__item">
      <a href="#testimonials" class="navigation__link">Testimonials</a>
    </li>
  </ul>
</nav>