.button {
  --border-width: 1px;
  --border-color: rgba(252, 249, 249, 0.10);

  display: inline-flex;
  align-items: center;
  padding-block: calc(.875rem - var(--border-width));
  padding-inline: calc(2.25rem - var(--border-width));
  gap: .625rem;
  color: var(--base-white, #FCF9F9);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 15px;
  border: var(--border-width) solid var(--border-color);
  background: transparent;

  @include transition(border);

  @include event {
    --border-color: var(--base-yellow, #ECD979);
  }

  &__icon {
    line-height: 0;

    svg {
      fill: var(--base-yellow);
    }
  }

  @include media {
    padding-inline: 2.4375rem;
    font-size: 1rem;
  }

  &--phone {
    padding-inline: calc(1.75rem - var(--border-width));
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: unset;

    @include media {
      font-size: 0.875rem;
    }
  }
}