.button {
  display: inline-flex;
  padding-block: .875rem;
  padding-inline: 2.25rem;
  gap: .625rem;
  color: var(--base-white, #FCF9F9);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  background: transparent;

  @include transition(border);

  @include event {
    border: 1px solid var(--base-yellow, #ECD979);
  }

  svg {
    fill: var(--base-yellow);
  }

  @include media {
    padding-inline: 2.4375rem;
    font-size: 1rem;
  }

  &--phone {
    padding-inline: 1.75rem;
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: unset;

    @include media {
      font-size: 0.875rem;
    }
  }
}