.container {
  --container-padding: 1.25rem;
  --container-width: 23.4375rem;

  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);

  @include media {
    --container-padding: 2rem;
    --container-width: 48rem;
  }

  @include media(1280) {
    --container-padding: 6.25rem;
    --container-width: 80rem;
  }

  @include media(1440) {
    --container-width: 90rem;

    
  }  
}