.navigation {
  $this: &;

  &--grid {
    #{$this} {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include media {
          display: flex;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    align-items: flex-end;    
  }

  &__item {
    
  }

  &__link {    
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 128.5%;      
      text-transform: uppercase;
      color: var(--white, #FCF9F9);
  }

  &__button {
    display: flex;
    
  }

  &__line {
    color: var(--base-yellow);
  }

}