.navigation {
  $this: &;

  --gap-navigation: 1.25rem;

  @include media {
    --gap-navigation: 1.5625rem;
  }
  

  &--grid {
    #{$this} {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include media {
          display: flex;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-navigation);
    align-items: flex-end;

    @include media(1280) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__item {
    color: var(--base-white, #FCF9F9);
      
    @include transition(color);
        
    @include event {
      color: var(--base-yellow);
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: currentColor;
  }
}

.footer {
  .navigation {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item {
      width: calc((100% - var(--gap-navigation)) / 2);
      font-size: 0.875rem;

      @include media {
        width: unset;
      }
    }
  }
}