.photo {
  margin: 0 auto;
  max-width: 23.4375rem;
  aspect-ratio: 375/550;

  @include media {
    max-width: 48rem;
    aspect-ratio: 768/776;
  }

  @include media(1280) {
    max-width: 80rem;
    aspect-ratio: 1280/776;
  }

  @include media(1440) {
    max-width: 90rem;
    aspect-ratio: 1440/776;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}