.section {
  $this: &;

  position: relative;
  padding-block: 2.5rem;
  width: 100%;

  @include media {
    padding-block: 3.125rem;
  }

  @include media(1280) {
    padding-block: 4.6875rem;
  }

  @include media(1440) {
    max-width: 90rem;
    margin-inline: auto;
  }

  &:last-child {
      padding-bottom: 5rem;

      @include media {
        padding-bottom: 6.25rem;
      }

      @include media(1280) {
        padding-bottom: 9.375rem;
      }
  }

  &--title-center {
    #{$this} {
      &__title {
        text-align: center;
      }
    }
  }

  &--title-hidden {
    #{$this} {
      &__title {
        @extend .visually-hidden;
      }
    }
  }

  &--decor-bottom-right {
    background-image: image-set(
      url(../img/about-us-decor.webp) type("image/webp") 1x,
      url(../img/about-us-decor-2x.webp) type("image/webp") 2x,
      url(../img/about-us-decor.png) type("image/png") 1x,
      url(../img/about-us-decor-2x.png) type("image/png") 2x
    );
    background-position: calc(100% + 209px) 100%;
    background-repeat: no-repeat;
    background-size: 459px 408px;

    @include media {
      background-position: calc(100% + 176px) 100%;
      background-size: 545px 484px;
    }

    @include media(1280) {
      background-position: calc(100% + 160px) 100%;
    }

    @include media(1440) {
      background-position: 100% 100%;
    }
  }

  &--decor-top-left {
    background-image: image-set(
      url(../img/collection-decor.webp) type("image/webp") 1x,
      url(../img/collection-decor-2x.webp) type("image/webp") 2x,
      url(../img/collection-decor.png) type("image/png") 1x,
      url(../img/collection-decor-2x.png) type("image/png") 2x
    );
    background-position: 0 316px;
    background-repeat: no-repeat;
    background-size: 72px 177px;

    @include media {
      background-position: 0 271px;
      background-size: 114px 300px;
    }

    @include media(1280) {
      background-position: 0 291px;
      background-size: 169px 300px;
    }

    @include media(1440) {
      background-position: 0 301px;
    }
  }

  &--decor-bottom-left {
    @include media {
      background-image: image-set(
        url(../img/your-order-decor.webp) type("image/webp") 1x,
        url(../img/your-order-decor-2x.webp) type("image/webp") 2x,
        url(../img/your-order-decor.png) type("image/png") 1x,
        url(../img/your-order-decor-2x.png) type("image/png") 2x
      );
      background-position: -222px 100%;
      background-repeat: no-repeat;
      background-size: 545px 484px;
    }

    @include media(1280) {
      background-position: -256px 100%;
    }

    @include media(1440) {
      background-position: -220px 100%;
    }
  }

  &--photo {
    #{$this} {
      &__background {
        margin: 0 auto 5rem;
        max-width: 23.4375rem;
        aspect-ratio: 375/550;
        background-image: image-set(
          url(../img/baba-mobile.webp) type("image/webp") 1x,
          url(../img/baba-mobile-2x.webp) type("image/webp") 2x,
          url(../img/baba-mobile.jpg) type("image/png") 1x,
          url(../img/baba-mobile-2x.jpg) type("image/png") 2x
        );
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include media {
          margin-bottom: 6.25rem;
          max-width: 48rem;
          aspect-ratio: 768/776;
          background-image: image-set(
            url(../img/baba-tablet.webp) type("image/webp") 1x,
            url(../img/baba-tablet-2x.webp) type("image/webp") 2x,
            url(../img/baba-tablet.jpg) type("image/png") 1x,
            url(../img/baba-tablet-2x.jpg) type("image/png") 2x
          );
        }

        @include media(1280) {
          margin-bottom: 9.375rem;
          max-width: 80rem;
          aspect-ratio: 1280/776;
          background-image: image-set(
            url(../img/baba-medium.webp) type("image/webp") 1x,
            url(../img/baba-medium-2x.webp) type("image/webp") 2x,
            url(../img/baba-medium.jpg) type("image/png") 1x,
            url(../img/baba-medium-2x.jpg) type("image/png") 2x
          );
        }

        @include media(1440) {
          max-width: 90rem;
          aspect-ratio: 1440/776;
          background-image: image-set(
            url(../img/baba-desktop.webp) type("image/webp") 1x,
            url(../img/baba-desktop-2x.webp) type("image/webp") 2x,
            url(../img/baba-desktop.jpg) type("image/png") 1x,
            url(../img/baba-desktop-2x.jpg) type("image/png") 2x
          );
        }
      }
    }
  }

  &__title {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -.03em;

    @include media {
      font-size: 2.75rem;
      line-height: 1.45;
    }

    @include media {
      font-size: 2.75rem;
      line-height: 1.45;
    }
  }

  &__title-span {
    color: var(--secondary-text-color);
  }

  &__text {
    &:not(:first-of-type) {
      margin-top: 1.25rem;
    }

    &:not(:last-of-type) {
      margin-bottom: 1.25rem;
    }
  }
}