.socials {
  display: flex;
  gap: .75rem;

  &__link {
    @include transition;

    display: block;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    padding: .5rem;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    transition-property: border, background-color;

    @include event {
      background-color: transparent;
      border: 1px solid var(--base-yellow);
    }
  }

  &__icon {
    fill: var(--base-white);
  }
}