.text-and-media {
  $this: &;

  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  @include media(1280) {
    flex-direction: row;
    align-items: center;
    column-gap: 3.125rem;
  }

  &__content {
    flex-shrink: 1;
  }

  &__title {
    @extend .section__title;
  }
  
  &__title-span {
    @extend .section__title-span;
  }

  &__text {
    @extend .section__text;
  }

  &__picture {
    width: 100%;
    border-radius: .25rem;
    overflow: hidden;

    picture {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &--media-right {
    #{$this} {
      &__picture {
        @include media(1280) {
          flex-shrink: 0;
          max-width: 37.125rem;
        }

        @include media(1440) {
          max-width: 44.3125rem;
        }
      }
    }
  }

  &--media-left {
    @include media(1280) {
      flex-direction: row-reverse;
    }

    #{$this} {
      &__picture {
        @include media {
          flex-shrink: 0;
          max-width: 39.875rem;
          align-self: flex-end;
        }
        
        @include media(1280) {
          max-width: 32.75rem;
        }

        @include media(1440) {
          max-width: 32.75rem;
        }
      }
    }
  }
}